<div class="container-banner">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title-banner text-center">Mister Cocktail</h1>
      <h2 class="byline-banner text-center">Indulge your inner hedonist</h2>
      <%= link_to "Create cocktail", new_cocktail_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
</div>
<div class="container-cocktails">
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="cocktail card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo %>);">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
