<h1>All your cocktails</h1>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

<%= link_to "Create new cocktail", new_cocktail_path %>
