.body {
  background-color: $white-orange !important;
}

.forms {
  padding-top: 12vh;
  h3 {
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6)
  }
}
