.container-banner {
  background-image: url("cocktail.png");
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-color: #E08A1E;
  display: flex;
  align-items: center;
  justify-content: center;
}
